
/*
    ? The firts letter of the variables are made to indicate what we're talking about. 
    - c_ -> the colors 
    - g_ -> the gradients 

    ? The second part is link to what's the color is for. 
    bg = background
 */


//** Colors **// 
$c_bg: #F5F5F5; 
$c_main: #9165DF; 
$c_ravenclaw: #405D8D; 
$c_slytherin: #206F12; 
$c_hufflepuff: #FFB37B; 
$c_gryffondor: #9B2727; 


//** Gradient **//
$g_main: #A657D5, #7379EB;
$g_ravenclaw: #1484BF, #405D8D; 
$g_slytherin: #91BF14, #206F12; 
$g_hufflepuff: #FFE200, #FFB37B; 
$g_gryffondor: #EF0E6D, #9B2727; 