//* Dack Mode **// 

.dm_img{
    display: none;
}


.mode_switch{
    position: relative;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000;
    background: linear-gradient(#a657d557, #7379eba3);
    width: 15rem;
    padding: 1.3rem;
    border: 1px solid #d3bae2;
    box-shadow: 0px 11px 20px 4px rgb(169 171 239 / 46%);
    height: 6rem;
    width: 6rem;
    border-radius: 10rem;
    color: #fff;
}

.mode_switch:hover{
    transform: scale(1.1);

}

.round {
    padding: 1.5rem
}

.dark {

    .lm_img{
        display: none;
    }
    .dm_img{
        display: inline;
        //margin: 0 -1rem;
    }

    $c_bg: #3f3f47; 
    $nmi : inset 2px 2px 6px #000000a3, inset -2px -2px 6px #ffffff3b;
    $nm : 4px 4px 6px #00000045, -4px -4px 5px #ffffff0d;
    $c_main : #d2b9ff;


    .message_btn {
        box-shadow: $nm;
        background: #3a3a40;
    }



    .card {
        box-shadow: $nm;
        background: #3a3a40;
    }
    
    
    .card_ex:hover .sm-pp__info {
        box-shadow: $nm;
        background: #3a3a40;
    
    }
    
    .house-cup__sand:hover .house-point-display {
        box-shadow: $nm;
        background: #3a3a40; 
    }


    .box_text .mask {
        background: linear-gradient(transparent, #3f3f47);
    }

.page_box {

    select {
        box-shadow: $nmi;
        background: #3a3a40; 
        color: #fff;
    }
}


.mode_switch{
    box-shadow: $nm;
    background: #3a3a40;
    color: #fff;

}

    color: #fff;

    label {
        color: #fff;
    }

    input {
        box-shadow: $nmi;
        color: #fff;
    }

    textarea {
        box-shadow: $nmi;
        background: #3a3a40;
        color: #fff;
    }


    textarea::placeholder {
        color: rgb(241, 241, 241);

    }


    .login_checkbox:checked ~ .login_text .cross {
        color: #fff;
    }
    .cta_l {
        box-shadow: $nm;
        background: $c_main;
    }

    .forum_desc {
        color: #fff;
    }
    
    .message__box .message__border{
        box-shadow: $nm;
        background: $c_bg;
    }

    .sm-pp__box:hover .sm-pp__info {
        box-shadow: $nm;
        background: $c_bg;
        a{
            color: #fff;
        }

        .pph_texte label {
            color: rgb(255, 255, 255);

        }
    }


    h3 {
        color: $c_main;
    }

    .sm-event__title {
        color: $c_main;

    }

    .under a:hover:after {
        background:$c_main;
    }

    .under .active:after {
        background:$c_main;
    }
    
    .lt__ariane a {
        color: rgb(255, 255, 255);
 
    }


    .filters a {
        color: #fff;
    }


    .sm-event__add {
        background: $c_bg;
        box-shadow: $nmi;

    }

    .sm-event__add:hover {
        background: $c_bg;
        box-shadow: $nmi;


        .sm-event__button {
            background: $c_bg;
            box-shadow: $nm;
        }
    }

    .sm-event__button {
        background: $c_bg;
        box-shadow: $nm;
    }

    .sm-event__button:hover {
        background: $c_bg;
        box-shadow: $nm;
    }


    .sm-event:hover {
        background: $c_bg;
        box-shadow: $nmi;
    }

    .cat-box {
        background: $c_bg;
        box-shadow: $nm;
    }

    .topic-list {
        background: $c_bg;
        box-shadow: $nm;
    }

    .nm {
        background: $c_bg;
        box-shadow: $nm;
    }

    .main-message .main-message__text {
        background: $c_bg;
        box-shadow: $nm;
    }

    .event-message .message__border {
        background: $c_bg;
        box-shadow: $nm;
    }
    
    .main-sec {
        background-color: $c_bg;
    }

    .topic-preview {
        background: $c_bg;
        box-shadow: $nm;
    }


    .sm-event {
        background: $c_bg;
        box-shadow: $nm;
    }

    .neu_r {
        background: $c_bg;
        box-shadow: $nm;
    }


    .house-cup__hourglass {
        background: $c_bg;
        box-shadow: $nm;
    }


    .sm-pp__box {
        background: $c_bg;
        box-shadow: $nm;
    }


    nav {
        background: $c_bg;
        box-shadow: $nm;
    }

    input {
        background: $c_bg;

    }

    a {
        color: #fff;
    }











    .ravenclaw_c {
        color: #3a9cda !important;
    }

    .ravenclaw_c a {
        color: #3a9cda !important;
    }


    .ravenclaw_c a:hover:after {
        background: #3a9cda !important;
    }

    .gryffindor_c {
        color: #f9578b !important;
    }

    .gryffindor_c a {
        color: #f9578b !important;
    }

    .gryffindor_c a:hover:after {
        background: #f9578b !important;
    }

    .slytherin_c {
        color:  #5fbf4e !important;
    }

    .slytherin_c a {
        color:  #5fbf4e !important;;
    }

    .slytherin_c a:hover:after {
        background:  #5fbf4e !important;
    }


    .conversation__box {
        background: $c_bg;
        box-shadow: $nm;
    }
    
    
    .auth-user__message{
        .conversation_message{
            color: rgb(255, 255, 255);
            background: linear-gradient(130deg, #3a3a3f, #3a3a3f) !important;
            box-shadow: $nm;
        }
    }
    

    .user-infos_main-section__scrool{
        background: $c_bg;
        box-shadow: $nm;
    }

    .user-infos{
        background: $c_bg;
        box-shadow: $nm;
    }


    .owls-list {
        background: rgb(116 116 116 / 35%);
    }

    .user_inos{
        color: rgb(202, 202, 202);
    }

    .user-btn__message{
        color: rgb(202, 202, 202);
    }

    .user-btn_contener:first-child {
        background-color: rgb(63 63 70 / 77%);
    }

    .user-infos_main-section__scrool .profil_link a {
        color: white;
        font-size: 1.4rem;
    }

    .notif_box_inside {
        box-shadow: 4px 4px 6px #00000045, -4px -4px 5px #ffffff0d;
        background: #3f3f47;
    }

    .notif:hover {
        background-color: #353535;
    }


    .notif_box .lable {
        background-color: #353535;
    }



    .profil_box{
        box-shadow: 4px 4px 6px #00000045, -4px -4px 5px #ffffff0d;
        background: #3f3f47;
    }

    .pph_texte a{
        color: #fff;
    }


element.style {
}
.pph_texte label {
    color: rgb(255, 255, 255);

}
    }



