.error_num{
    color: #fff;
    font-family: cos, serif;
    font-size: 20rem;
    font-weight: 10;
    margin: -4rem;
}



    .login_content{
        .invalid-feedback {

                font-size: 1.4rem;
                color: red;
                letter-spacing: normal;
                position: relative;
                top: 0.3rem;
                padding: 2rem 0;

        }

    }