.house_cup-title{
    font-family: $f_title;
    font-size: 5rem;
    text-align: center;
}

.house_cup_winner-title{
    color: black;
    font-size: 1.4rem;

    span{
        color: $c_ravenclaw;
        display: block;
        font-size: 2rem;
        padding: .5rem;
    }
}

.house-winer_box{
    padding: 5rem;
    text-align: center;
    @include nm; 
    position: relative;
    border-radius: 1rem;
    margin-bottom: 5rem;

}


.house-cup_img_one {
    top: 0;
    right: 8rem;
    position: absolute;
}


.house-cup_img_two {
    top: 0;
    left: 8rem;
    position: absolute;
}


.house-cup{
    a{
        color: black;
        font-size: 1.4rem;
    }

    p{
        margin: 0;
        span{
            font-family: $f_main-bold;
            font-size: 1.4rem;
        }
    }

    .cta_v {
        background: linear-gradient(#6e46b9, #8c62d8);
        width: 15rem;
        padding: 0.8rem;
        margin: -1rem auto 3rem;
        border: 1px solid #d3bae2;
        color: #fff;
    }

    .house_ex {
        top:0; 
    }
}

