
.house_cup__all {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 30rem;
}

.house-cup__hourglass {
    width: 4rem;
    height: 18rem;
    border-radius: 10rem;
    @include nm;
    display: flex;
    margin: 0.7rem; 

}

.house-cup__sand {
    width: 3rem;
    border-radius: 10rem;
    margin:0.5rem;
    align-self: flex-end;
    position: relative; 
}

.house-cup__rav {
    .house-cup__sand {
        height: 13rem;
        background: linear-gradient($g_ravenclaw);
        box-shadow:  2px 2px 5px #405D8D55,
                -2px -2px 5px #1484BF55;
    }
}

.house-cup__sly {
    .house-cup__sand {
        height: 11rem;
        background: linear-gradient($g_slytherin);
        box-shadow:  2px 2px 5px #206F1255,
                -2px -2px 5px #91BF1455;
    }
}

.house-cup__grif {
    .house-cup__sand {
        height: 3rem;
        background: linear-gradient($g_gryffondor);
        box-shadow:  2px 2px 5px #9B272755,
                -2px -2px 5px #EF0E6D55;
    }
}



.house-cup__huff {
    .house-cup__sand {
        height: 7rem;
        background: linear-gradient($g_hufflepuff);
        box-shadow:  2px 2px 5px #FFB37B55,
                -2px -2px 5px #FFE20055;
    }
}

.house-emoji {
    text-align : center; 
    font-size : 2rem
}


.house-point-display {
    display: none; 
}

.house-cup__sand:hover{
    .house-point-display {
        display: block;
        @include absolute(bottom .3rem left 0.3rem);
        box-shadow:  1px 1px 2px #00000021,
                    -1px -1px 2px #fff;
        background-color: $c_bg;
        border-radius: 2rem;
        width: 20rem;
        z-index: 1000000;
        padding: 1rem;
        font-size: 1.2rem;
        text-align: center;
    }
}


//baas 



.history{

    margin-left: 3rem;

    table{
        text-align: center;
    }
    th{
        border-bottom: 0.1rem solid #cdcccc;
        width: 30rem;
        padding: 2rem;
        font-family: $f_main-bold;
    }

    td{
        padding: 2rem; 
        
    }

    tr:hover{
        background-color: rgb(236, 236, 236);

    }
}


.best_users{

    .topix-preview__author__name {
        font-size: 1.5rem;
        
    }

    h3{
        margin-bottom: 0.1rem;
        }
    .bu_in{
        @include nm;
        padding: 2rem;
        border-radius: 1rem;
        min-width: 21rem;

    }
    

    li{
        padding: 1.2rem;
    }
}