.forum_cent {
    max-width: 90rem;
    margin: auto;
}

.t_input{
    max-width: 40rem;
}

.main_forum{
    label {
        color: black;
        margin: 2.5rem 0 0.9rem;
        font-size: 1.7rem;
    }
    

    input {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

    }


}