nav {
    position: fixed;
    border-radius: 0 0 .5rem .5rem;
    top: 0;
    width: 100%;
    background-color: #f3f4f2BB;
    text-align: center;
    z-index: 10000000000000000000000000000000000;
    box-shadow: 0px 1px 72px -23px rgba(0, 0, 0, 0.53);


    li {
        display: inline-block;

        a {
            padding: 4rem;
            text-decoration: none;
            color: black;
        }
    }

    .sm-pp__box:hover .sm-pp__info {
        bottom: -6.3rem;
        left: -6rem;
    }
}


.sub_nav-toblure{
    position: fixed;
    border-radius: 0 0 .5rem .5rem;
    top: 0;
    height: 8.8rem;
    width: 100%;
    background-color: $c_bg;
    text-align: center;
    z-index: -1;

}

.nav-ol {
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    max-width: 150rem;
    margin: 1.5rem auto;
}



.searchbox {
    position: relative;
    top: -1rem;
    right: 3rem;
    width: 15rem;
    height: 3rem;

    button {
        background: none;
        border: none;
    }


    input {
        //position : absolute; 
        border-radius: 4rem;
        top: 0rem;
        box-sizing: content-box;

        height: 100%;
    }

    button {
        position: absolute;
        top: -0.35rem;
        right: -4rem;

        img {
            width: 5rem;
        }
    }
}

.search-form {
    margin: 0;
}











.navigation_l {
    display: none;
}

.notif_box{
    margin-left: 1rem;
    margin-right: -1rem;
}








.m5 {
    margin: 0 5px;
    input[type=checkbox]{
        display: none;
    }
}

.switch {
    display: inline-block;
}

.switch input {
    display: none;
}

.switch small {
    display: inline-block;
    width: 43px;
    height: 18px;
    background: #455a64;
    border-radius: 30px;
    position: relative;
    //top: 0.5rem;
    cursor: pointer;
    margin-left: 1rem;
}

.switch small:after {
    content: "No";
    position: absolute;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    width: 100%;
    left: 0px;
    text-align: right;
    padding: 0 6px;
    box-sizing: border-box;
    line-height: 18px;
}

.switch small:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition: .3s;
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.1);
}

.switch input:checked~small {
    background: #4fc5c5;
    transition: .3s;
}

.switch input:checked~small:before {
    transform: translate(25px, 0px);
    transition: .3s;
}

.switch input:checked~small:after {
    content: "Yes";
    text-align: left;
}

.switchSmall {
    display: inline-block;
}

.switchSmall input {
    display: none;
}

.switchSmall small {
    display: inline-block;
    width: 43px;
    height: 18px;
    background: #455a64;
    border-radius: 30px;
    position: relative;
    top: 0.5rem;
    cursor: pointer;
    margin-left: 1rem;
}

.switchSmall small:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition: .3s;
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.1);
}

.switchSmall input:checked~small {
    background: #4fc5c5;
    transition: .3s;
}

.switchSmall input:checked~small:before {
    transform: translate(16px, 0px);
    transition: .3s;
}