.main-message {
    .profl_main {
        flex-direction: row-reverse;
        margin-bottom: 6rem;
        top: 5rem;
        right: -3rem;
        text-align: center;

        .sm-pp__box  {
            width: 8rem;
            height: 8rem;
            z-index: 100000000;
        }
        .sm-pp  {
            width: 6rem;
            height: 6rem;
        }


        .profil_info {
            padding: 1rem;
        }
        
    }

    .messages__text {
        margin-top: -2rem;
    }

    .messages__numbers {
        font-size: 2rem;
        font-family: $f_main-bold;
    }

    .main-message__messages {
        text-align: right;
    }

    .ra{
        color: $c_ravenclaw;
    }


    .hu{
        color: $c_hufflepuff;
    }


    .sl{
        color: $c_slytherin;
    }


    .gr{
        color: $c_gryffondor;
    }



}


.main-message {
    width: 90%;
    max-width: 100rem;
    min-width: 30rem;
    margin: 2rem auto;

    .main-message__profil {
        width:  30%;
    }

    .main-message__text {
    @include nm; 
    width: 70%;
    padding: 7rem 6rem 10rem 8rem;    margin: 2rem;
    position: relative;
        
    }
    
}

.message-like {
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-align: center;

    button {
        background: none;
        border: none;
    }
}



.last-post_event{

    .sm-pp__box {
        height: 7rem;
        width: 7rem;
    }

    .sm-pp {
        height: 5rem;
        width: 5rem;
    }

    .main-message{
        width: 95%;
        margin: 2rem 0 2rem 5%;

        .topix-preview__author {

            left: -5%;
            right: auto;
            text-align: left;

            flex-direction: row-reverse;
        }


        .main-message__text {
            margin : 0; 
            width: 100%;
            position: relative;
            padding: 4rem 10rem 5rem 7rem;
        }

        .profl_main {
            text-align: left;
            margin-top: 4rem;

        }
    }

}