.registration-sec {
    height: 100%;
    margin-top: 0rem;
    margin-bottom: 0;

    .cta {
        width: 20rem;
    }
    
}


.registration {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.registration__password {
    margin-top: .5rem;
}