
.frame {
  position: relative;
  max-width: 140rem;
  margin: auto;
}


@import 'settings/_settings.scss';
@import 'tools/_tools.scss';
@import 'generic/_generic.scss';
@import 'elmnt/_elmnt.scss';
@import 'obj/_obj.scss';
@import 'part/_part.scss';


.visually-hidden {
    position: absolute !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
  }

  span.invalid-feedback{
    font-size: 1.4rem;
    color: red;
    letter-spacing: normal;
    top: -2rem;
    padding: 2rem 0;
  }
