html {
    @include f_text; 
    font-size: 10px;
}


body{
    font-size: 1.5rem;
    letter-spacing: .01rem;
    color: rgba(0, 0, 0, 0.753);
    font-weight: lighter;
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center ;
    background-attachment: fixed;
}

h3 {
    font-family: $f_main-light;
    color: $c_main;
}


input {
    display : block; 
        background: #F5F5F5;
    box-shadow: inset 2px 2px 6px #dadada,
                inset -2px -2px 6px #fff;
    border : none; 
    padding: 1rem 2rem; 
    border-radius: .7rem;
}

input[type=text], input[type=password]{
    width : 100%; 

}

input:focus {
    outline : none; 
    border : $c_ravenclaw solid 1px; 
}


label {
    display : block; 
    color : #696969; 
    margin : 1.5rem 0 .5rem
}



h1 {
    span {
        display: block;
        font-family: $f_main-light;
        font-size: 5rem;
    }
}




.flex {
    display: flex;
}




// .bg{

//     position: fixed;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     left: 0;
// }