html {
    @include f_text; 
    font-size: 10px;
}


body{
    font-size: 1.5rem;
    letter-spacing: .01rem;
    color: rgba(0, 0, 0, 0.753);
    font-weight: lighter;
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center ;
    background-attachment: fixed;
}

h3 {
    font-family: $f_main-light;
    color: $c_main;

    a:hover {
        padding-left: 1rem;
        transition: 1s;
    }
}


hr {
    border-top: 3px double #A5880F;

}

b{
    font-family: $f_main-bold;
}

input {
    display : block; 
        background: #F5F5F5;
    box-shadow: inset 2px 2px 6px #dadada,
                inset -2px -2px 6px #fff;
    border : none; 
    padding: 1rem 2rem; 
    border-radius: .7rem;
    
    box-sizing: border-box;

}

input[type=text], input[type=password]{
    width : 100%; 

}

input:focus {
    outline : none; 
    border : $c_ravenclaw solid 1px; 
    
}


label {
    display : block; 
    color : #696969; 
    margin : 1.5rem 0 .5rem
}



h1 {
    span {
        display: block;
        font-family: $f_main-light;
        font-size: 5rem;
    }
}


h4 {
    font-size: 1.7rem;
    margin: 4rem 0rem 1rem 0rem;
    font-family: $f_main-bold;

    a {
        transform: scale(1.2);
    }
}

.sub {
    color: rgb(56, 56, 56);
    font-size: 1rem;
    position: relative;
    top: -1.4rem;
}


.flex {
    display: flex;
}



h2 {
    a:hover {
        transform: scale(1.2);
    }
}

// .bg{

//     position: fixed;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     left: 0;
// }


textarea {
    @include nmi; 
    background-color: #f1f1f1;;
    border : none; 
    width: 100%;
    padding: 2rem;
    border-radius: .5rem;
    box-sizing: border-box;
}

strong {
    font-family: $f_main-bold;
}

nav {
    z-index: 100000000000000000000;
}


