html {
    @include f_text; 
    font-size: 10px;
}


body{
    font-size: 1.6rem;
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center ;
    background-attachment: fixed;
}



// .bg{

//     position: fixed;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     left: 0;
// }