.cta{
    @include nm; 
    padding : 1.5rem;
    border : none; 
    border-radius : .7rem; 
    margin : 1.5rem 0;
    display : block; 
    text-align : center; 
    a {
        color : black; 
        text-decoration : none; 
    }
}


.cta:hover{
    transform: scale(1.01);
}

.cta_m {
    background: linear-gradient(54deg, $g-main_t) ;
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );
    border-radius: 10px;
    border: 1px solid #a5880f91;
    padding: 2rem;
    box-shadow:  2px 2px 6px #7379eb57,
                -2px -2px 6px #a757d552;
    color: #fff;
    a {
        color : #fff; 
    }
}

.cta_i {
    background : linear-gradient(54deg, $g-gryffondor); 
    box-shadow:  2px 2px 6px #ef0e6c38,
                -2px -2px 6px #ef0e6c38;
                width: 100%;
        color : #fff; 
        padding: .5rem;
}

.cta_l {
        padding: .5rem;
        width: 100%;

}


.house-winer_box{
    .cta{
        text-decoration: none;
        margin: 4rem auto 0;
        width: 15rem;
        padding: 1.3rem 3rem;
        color: black;
        text-transform: uppercase;
        font-size: 1.2rem;
    }
}




.login_registration {
    width: 100%;
    justify-content: space-evenly;
    margin: 10rem 0;

}


.cat-cta {
    width: 30rem;
    margin: 10 auto;
}

.cat-cta_contener {
    text-align: center;
}


.log-cta {
    background: rgba( 165, 136, 15, 0.35 )    ;
    box-shadow: 0px 11px 20px 4px rgb(0 0 0 / 32%);
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );
    border-radius: 10px;
    border: 1px solid #a5880f91;
    padding: 2rem;
    a {
        color : rgb(255, 255, 255); 
        text-decoration : none; 
        padding: 2rem;
        letter-spacing: .3rem;
        text-transform: uppercase;
        font-size: 1.2rem;
    }
}


.log-cta:hover {
    transform: scale(1.05)
}

.neu_r {
    @include nm; 
    border-radius: 2rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cta_v {

        background: linear-gradient(#6e46b9, #8c62d8);
        width: 15rem;
        padding: 0.8rem;
        margin: -1rem auto 3rem;
        border: 1px solid #959595;
        color: #fff;
    

    a{

        color: #ffffff;
    }
}


.cta_v:hover {
    transform: scale(0.97);
}


.message_btn {
    @include nm; 
    margin: 0 0 0 .8rem;
    width: 4rem;
    height: 4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    border: rgba(119, 119, 119, 0.295) .1rem solid;
    background-color: #f1f1f1;;

    //box-shadow: 2px 2px 6px #7379eb2f, -2px -2px 6px #a757d52a;
}

.message__box .message__border {

    text-align: left;

}

.mb_box {
    position : absolute;
    margin-left: 2rem;
    bottom: 5rem;
}


.sm-event__button:hover {

    transform: scale(1.05);

    img {
        transform: rotate(90deg);
        transition: .9s;
    }
}

button {
    cursor: pointer;
}


.switch{
    cursor: pointer;
}

.navigation_l {
    cursor: pointer;
}

.cta_newevent {
    margin: 1.5rem auto 3rem;
}