.ravenclaw_bg {
    background: linear-gradient(130deg, $g_ravenclaw) !important;
}

.slytherin_bg {

    background: linear-gradient(130deg, $g_slytherin) !important;
}


.hufflepuff_bg {
    background: linear-gradient(130deg, $g_hufflepuff) !important;
}


.gryffindor_bg {
    background: linear-gradient(130deg, $g_gryffondor) !important;
}





.ravenclaw_full_bg {

    background: #405D8Dbb;
    backdrop-filter: blur( 3px );
}

.slytherin_full_bg {
    background: #206F12bb;
    backdrop-filter: blur( 3px );
}



.hufflepuff_full_bg {
    background: #ffcf4abb;
    backdrop-filter: blur( 3px );
}


.gryffindor_full_bg {
    background: #9B2727bb;
    backdrop-filter: blur( 3px );
}






.ravenclaw_c {
    color: $c_ravenclaw !important;

    a:hover:after {
        background: $c_ravenclaw;
    }
}

.slytherin_c {
    color: $c_slytherin !important;

    a:hover:after {
        background: $c_slytherin;
    }
}


.hufflepuff_c {
    color: $c_hufflepuff !important;

    a:hover:after {
        background: $c_hufflepuff;
    }
}

.gryffindor_c {
    color: $c_gryffondor !important;

    a:hover:after {
        background: $c_gryffondor;
    }
}




.ravenclaw_c {
    color: $c_ravenclaw !important;

    :hover:after {
        background: $c_ravenclaw;
    }
}

.slytherin_c {
    color: $c_slytherin !important;

    :hover:after {
        background: $c_slytherin;
    }
}


.hufflepuff_c {
    color: $c_hufflepuff !important;

    :hover:after {
        background: $c_hufflepuff;
    }
}

.gryffindor_c {
    color: $c_gryffondor !important;

    :hover:after {
        background: $c_gryffondor;
    }
}



.ravenclaw_c a {
    color: $c_ravenclaw !important;
}

.slytherin_c a {
    color: $c_slytherin !important;
}


.hufflepuff_c a {
    color: $c_hufflepuff !important;
}


.gryffindor_c a {
    color: $c_gryffondor !important;
}