.frame {
    position: relative;
    max-width: 140rem;
    margin: auto;
}



/**** LOGO ****/

@media screen and (max-width: 800px) {

    .head-sec h1 {
        font-size: 6.5rem;
        top: 12rem;
    }

}

@media screen and (max-width: 600px) {

    .head-sec h1 {
        font-size: 5.5rem;
        top: 13rem;
    }

    .head-sec span {

        font-size: 2.8rem;
        letter-spacing: 1rem;
        top: -1rem;
    }

}

@media screen and (max-width: 500px) {

    .head-sec h1 {
        font-size: 4.5rem;
        top: 15rem;
    }

    .head-sec span {

        font-size: 2.5rem;
        letter-spacing: 1rem;
        top: -.1rem;
    }

}

@media screen and (max-width: 400px) {

    .head-sec h1 {
        font-size: 4rem;
        top: 15rem;
    }


}

@media screen and (max-width: 340px) {

    .head-sec h1 {
        font-size: 3rem;
        top: 17rem;

    }

    .head-sec span {

        font-size: 2rem;

    }

}




/***** NAVIGATION ******/
@media screen and (max-width: 1300px) {
    .nav-ol {
        flex-direction: column;
        height: 80%;

    }

    nav {
        height: 63rem;
        position: fixed;
        transform: translateY(-56rem);
        transition: transform .5s cubic-bezier(.29, .54, .57, .79);
    }

    .home_li {
        order: -1;
    }

    .avatar_li {
        position: absolute;
        top: 3rem;
        right: 3rem;
    }

    .navigation_l {
        display: block;
        padding: 2rem;
        position: relative;
        top: 3rem;
        text-transform: uppercase;
    }

    .m_close {
        display: none;
    }

    .m_open {
        display: block;
        padding-bottom: 1rem;
        border-bottom: 2px #aa9120 solid;
        width: 90%;
        margin: auto;

    }

    .nav_check:checked~nav {
        top: 0rem;
        transform: translateY(0);
        transition: transform .5s cubic-bezier(.29, .54, .57, .79);


        .m_close {
            display: block;
            padding-bottom: 1rem;
            border-bottom: 2px #aa9120 solid;
            width: 90%;
            margin: auto;
        }

        .m_open {
            display: none;
        }
    }

}


@media screen and (max-width: 1300px) {
    .notif_box {
        position: fixed;
        top: 65rem;
        right: 3rem;
        @include nm;
        box-shadow: 5px 5px 10px #0000001f, -1px -1px 6px #ffffff96;        padding: 0 1.3rem;
        border-radius: 3rem;
    }
    
}

.notif_box_inside {

    right: -1rem;

}


/**** FOOTER ****/


@media screen and (max-width: 800px) {

    .head-sec .nmto {
        font-size: 3rem;
        line-height: 3rem;
    }

}


/***** HOME ******/


@media only screen and (min-width: 768px) and (max-width: 1430px) {
    aside {
        position: relative;
        width: 100%;
        max-width: 30rem;
    }

    .home_qeel {
        display: none;
    }

    .home-house_ev {
        width: 100%;
        justify-content: center;
    }

}

@media only screen and (max-width: 1150px) {


    .home-house_ev {
        align-items: center;
        flex-direction: column;
    }

}

@media only screen and (max-width: 950px) {


    .topix-preview__content {
        font-size: 1.5rem;
        line-height: 2.2rem;
        padding: 0 0rem 3rem 0rem;
    }

    .home_qeel {
        display: none;
    }

}




@media only screen and (max-width: 500px) {


    .main-sec {
        padding: 4rem 1rem;
    }

    .lt__title {
        padding-top: 5.5rem;
    }

    .last-event {
        margin: 0 5rem;
        width: 100%;
    }


    .last-event__flex-contener {
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: 100%;
        box-sizing: border-box;
    }

}




@media only screen and (max-width: 500px){
    .last-event__flex-contener {

        padding-bottom: 1.5rem;

    }
}



/* ===== Scrollbar CSS ===== */
  /* Firefox */


.last-event__flex-contener::-webkit-scrollbar {
    width: 1px;
}

.last-event__flex-contener::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
    border-radius: 10px;
}

.last-event__flex-contener::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}




// Users 

    .users_flex {
        flex-direction: column;
    }

    @media only screen and (min-width: 768px) and (max-width: 1430px) {
        // .users_flex {
        //     flex-direction: row;
        // justify-content: center;
        // align-items: flex-start;
        // width: 96vw;

        // section{
        //     max-width: 20rem;
        // }
        // }
    }

    @media only screen and (max-width: 1430px) {
        .last-topics {
            width: auto;
        }
    }


    @media only screen and (max-width: 730px) {
        .filters {
            flex-direction: column;

            .under {
                position: relative;
                top: -1.5rem;
            }
        }

        .house-cup {
            .filters {

                flex-direction: row;
            }
        }
    }


// House infobules
    @media only screen and (max-width: 1000px) {
        .card_ex:hover .sm-pp__info {
            right: -1rem;
            left: auto;
        }
    }

    @media only screen and (max-width: 1000px) {
        .card_ex:hover .sm-pp__info {
            right: -1rem;
            left: auto;
        }

        .house-cup__sand:hover .house-point-display {
            bottom: -5rem;
            left: -9rem;
        }
    }


//Catégories & topic

    @media only screen and (max-width: 1250px) {

        .cat-box_out {
            margin: 6rem auto;
            width: 100%;
        }
    }

    @media only screen and (max-width: 900px) {

        .cat-box_out {
            p {

                font-size: 1.1rem;
            }

            .cat__last-messge__text {
                margin: 0 .5rem;
            }
        }

    .cat-box_out {
        /* margin: 6rem auto; */
        margin: 2rem 2rem 10rem 2rem;
        width: 100%;
        }

    }

    @media only screen and (max-width: 500px) {

        .max-116{
            h2{
                margin: 2rem 2rem;
                padding-top: 4rem;

            }

            .lt__ariane {
                margin: 0 2rem;

            }

            .forum_desc{
                margin: 0 2rem;

            }

            padding-bottom: 3rem;
        }



    }




    @media only screen and (max-width: 950px) {

        .topic-list {
            flex-wrap: wrap;
            flex-direction: column;

            .latest-message {
                padding: 0 2rem 2rem 2rem;
                align-self: flex-start;
            }

            .sm-pp__box {
                display: none;
            }

            .topic-main_box {
                align-self: flex-start;
                position: relative;
                top: -5.4rem;

                h3 {
                    a {

                        font-size: 1.5rem;
                    }
                }
            }
        }

        .forum_desc {
            font-size: 1.2rem;
        }

        .topic-list {
            .cat-box_new {
                flex-grow: 1;
                align-self: flex-end;
                text-align: center;

                img {
                    transform: rotate(90deg);
                }
            }
        }

    }




//** Mode Switch **// 
    @media only screen and (max-width: 550px) {

        .mode_switch {
            transform: scale(0.8);
            bottom: 0rem;
            right: 1rem;
        }

        .mode_switch:hover {
            transform: scale(0.9);
            bottom: 0rem;
            right: 1rem;
        }

    }





// POSTES 

@media only screen and (max-width: 950px) {
    // .post_profil{
    //     position: absolute;
    //     z-index: 10;
    // }

    .main-message .profl_main {
        flex-direction: row;
    }

    // .main-message .main-message__profil {
    //     width: auto;
    // }

    .main-message {

        flex-direction: column;
    }

    .post_profil {
        display: flex;
        align-items: flex-end;
        position: relative;
        top: 4rem;
        z-index: 100;
        width: 100%;
        justify-content: space-between;
    }



    .main-message .main-message__text {

        width: auto;
        margin: 0;

    }

    .messages__text {
        font-size: 1.1rem;

    }



    .main-message .messages__numbers {
        font-size: 1.5rem;
    }

    .box_mess {
        position: relative;
        top: -2.6rem;
    }

    .main-message .profl_main .profil_info {
        padding: 1rem;
        text-align: left;
        margin-left: 2.8rem;
    }

    .post_profil .name {
        font-size: 1.7rem;
        font-weight: bold;
    }

    .post_profil .rang {
        font-size: 1.3rem;
    }

    .box_mess {
        display: none;
    }

    .message__box {
        width: 92%;
        margin: 0;

    }


    .message__box .message__border {
        width: 100%;

        position: auto;

    }

    .message__box .message__border textarea {
        width: 74%;
    }

    .message__box button {
        margin: 0rem auto 2rem auto;
        width: 70%;
        padding: .5rem;
    }



    .main-message {
        width: 100%;
        max-width: 100rem;
        min-width: 30rem;
        margin: 1rem auto;
    }

    .post_date {
        opacity: 0.9;
        font-size: 1.2rem;
        padding-bottom: 1.5rem;
        padding-top: 0.8rem;
    }
}


.mode_switch {
    z-index: 1000000;
}

@media only screen and (max-width: 500px){

    .topic_box {
        margin: 2rem;

        h2{
            margin: 2rem 5rem;
            padding-top: 4rem;

        }

        .lt__ariane {
            margin: 0 5rem;

        }
    }


}



/*** PADDING FIX**/

@media only screen and (max-width: 500px){

    .last-topics {
        padding: 1rem;
    }


    .mode_switch {
        left: 1rem;
    }

}



//** Landing **//



@media only screen and (max-width: 1200px){
    .landing__text{
        img{
            display: none;
        }
    }
    
    .landing__content-box div {
        flex-grow: 30;
        margin: 4rem 0rem;
        max-width: 100%;
    }

}



@media screen and (max-width: 1300px){
    .sub_nav-toblure {
        height: 7rem;

    }
}


//*** New Topic ***/

.cta_newtopic{
    margin: 3rem auto 0rem;
}