.sm-pp__box {
    @include nm;
    background: $c_bg;
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 5.5rem;
    margin: 0 .5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

}

.cat-box {
    .sm-pp__box {
        font-size: 3rem;
    }
}


.pp_flex {
    flex-wrap: wrap;

    .name {
        margin-bottom: 1rem
    }
}


.sm-pp {
    @include nmi;
    height: 3.9rem;
    width: 3.9rem;
    border-radius: 5rem;
    //padding: 1rem;
    border: $c_bg .3rem solid;
    margin: .7rem;
    transition: transform .3s;


}

.sm-pp__box:hover {
    .sm-pp {
        transform: rotate(40deg);
        transition: .6s;
    }

    .sm-pp__info {

        display: inline-block;
        @include absolute(bottom -4rem left -3rem);
        box-shadow: 1px 1px 2px #00000021,
            -1px -1px 2px #fff;
        background-color: $c_bg;
        border-radius: 2rem;
        width: 10rem;
        z-index: 1000000;
        padding: 1rem;
        font-size: 1.1rem;
        text-align: center;
    }
}

.sm-pp__info {
    display: none;
}

.pp__box-qeel {
    flex-direction: column;
    align-items: center;

    .name {
        padding: .5rem;
    }
}

.pp_link {
    text-decoration: none;
    color: black;
}


.tag {
    height: 1.3rem;
}



/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    width: 60px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}


.rang {
    display: inline-block;
}





.topic .sm-pp {
    margin-bottom: 0.5rem;
}